html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#bg-img {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/gate_old.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media (max-width: 991px) {
    #container {
        width: 83.333%;
    }
}
@media (max-width: 620px) {
    #create {
        width: 100%;
    }
}