html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    height: 100%;
}

#regular {
    margin-top: -69px;
    height: 100%;
}

#td_locations {
    height: 55%;
}

#locations {
    
    position: absolute;
    top: 69px;
    margin-left: 25px;
    margin-right: 25px;
}

#history {
    width: 100%;
    position: relative;
    margin-top: 69px;
}

#map {
    height: 100%;
    margin-right: 50px;
}

/* .customCard {
    width: 26.5%;
} */