html, body {
    height: 100%;
    margin: 0;
    /* background: rgb(33,37,41);
background: linear-gradient(145deg, rgba(33,37,41,1) 90%, rgba(255,255,255,1) 100%); */
}

#wrapper {
    height: 100%;
}

#regular {
    margin-top: -69px;
    height: 100%;
}

#td_locations {
    /* background: rgb(33,37,41);
background: linear-gradient(155deg, rgba(33,37,41,1) 55%, rgba(255,255,255,1) 63%); */
    background: rgb(33,37,41);
    background: linear-gradient(137deg, rgba(33,37,41,1) 25%, rgba(255,255,255,1) 75%);
    height: 55%;
}

#locations {
    
    position: absolute;
    top: 69px;
    margin-left: 25px;
    margin-right: 25px;
}

#history {
    width: 100%;
    position: relative;
    /* top: -185px; */
}

#map {
    height: 100%;
    margin-right: 50px;
}

.card {
    
}