html, body {
    height: 100%;
    margin: 0;
    /* background-color: rgba(150, 150, 150, 0.1); */
}

.col {
    padding: 0;
}

.col-card {
    flex: 0 0 auto;
    width: 30%;
}

.locations {
    height: 55%;
}

.info {
    height: 50%;
}

ul {
    list-style-type: none;
}

.form-group {
    padding-bottom: 10px;
}

#map {
    height: 100%;
}

#device_description {
    resize: none;
}

.w-37 {
    width: 37.5%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.zoom-zoom {
    display: flex;
    padding : 10px;
}

.zoom-zoom .card-zoom{
    transition: background-color .6s ease, transform .6s;
}

.zoom-zoom .card-zoom:hover {
    transform: scale(1.025);
}

/* .hover-hover {
    display: flex;
    padding : 10px;
} */

/* .hover-hover .this-hover{
    transition: background-color .6s ease, transform .6s;
} */

.this-hover:hover {
    background: rgb(230, 230, 230);
}

.join {
    position: absolute;
    /* width: 100px;
    height: 100px; */
    z-index: 1;
}

.membersLi form {
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 767px) {
    .qrCode {
        display: block !important;
    }
    .h-resp {
        height: auto !important;;
    }

    .membersLi {
        display: list-item !important;
    }

    .w-37 {
        width: 100%;
    }

    .membersLi form {
        float: right;
    }

    .locations {
        height: auto;
    }

    .col-card {
        width: 85%;
        height: 350px;
    }

    .mapFlex {
        height: 300px;
    }

    .flexHis {
        top: -100px !important;
    }

    .flex-grow-1 {
        flex-grow: 0 !important;
    }
}